@import "tailwindcss";

:root,
body,
#root {
  min-height: 100%;
  background-color: #000;
}

body {
  margin: 0;
  color: #fff;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}